<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eigen3" version="3.3.9" targetFramework="native" />
  <package id="intelmkl.static.win-x64" version="2025.0.1.5" targetFramework="native" />
  <package id="intelopenmp.devel.win" version="2025.0.4.1521" targetFramework="native" />
  <package id="intelopenmp.redist.win" version="2025.0.4.1521" targetFramework="native" />
  <package id="inteltbb.devel.win" version="2022.0.0.396" targetFramework="native" />
  <package id="inteltbb.redist.win" version="2022.0.0.396" targetFramework="native" />
</packages>